@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    font-size: 100%;
    background: linear-gradient(0deg, #ffffff 16.62%, #e6e6e6e5 85.61%);

}
.cabecalho-imagem {
    height: 1px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;

}

.cabecalho-imagem {
    height: 72px;
}


.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Share Tech', sans-serif;

    color: #f5f5f5e5
}

.conteudo {
    border-top: 0.4px solid #ffffffe5;
}


.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: darkorange;
}


.conteudo-principal-escrito-subtitulo {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 400;
    font-size: 24px;
   


}

.conteudo-principal-escrito-botao {
    background-color: darkorange;
    color: white;
    font-family: 'Share Tech';
    font-size: 15px;
    
    width: 180px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: block;
    margin: 0 auto;

    
}

.conteudo-principal-escrito-botao:hover {
    background-color: orangered;
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48;
    
}

.conteudo-secundario-titulo {



    padding-top: 48px;
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: darkorange;
    margin-bottom: 16px;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.conteudo-secundario-paragrafo {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: darkorange;
   
}



.rodape {
    padding: 32px;
    border-top: solid cornsilk;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;

}


.label {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: darkorange;
    display: block;
    margin: 0 auto;


}

.caixaurl {
    background-color: #f5e7c8e5;
    color: darkorange;
    font-family: 'Share Tech';
    font-size: 15px;
    
    width: 400px;
    height: 25px;
    border-color: darkorange;
  
  
    display: block;
    margin: 0 auto;

}
.caixaurl::selection {
    border-color: darkorange;
}
.div-url {
    display: flex;
    flex-direction: column;
   
}

.load {
    display: flex;
    margin: 0;
}