@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    font-size: 100%;
    background-color: aliceblue;
    

}
.cabecalho-imagem {
    border-bottom: crimson;
    height: 0px;

}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;

}

.cabecalho-imagem {
    height: 72px;
}


.cabecalho-menu {
    display: flex;
    gap: 32px;
    
}

.cabecalho-menu:hover {
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}


.cabecalho-menu-item {
    font-family: 'Share Tech', sans-serif;

    color: #f52b2be5
}

.conteudo {
    border-top: 0.4px solid #c42020e5;
}


.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    
}

.conteudo-principal-escrito-titulo {
    padding-top: 5px;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: crimson;
    display: block;
    margin: 0 auto;

}


.conteudo-principal-escrito-subtitulo {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: crimson;
    display: block;
    margin: 0 auto;


}

.conteudo-principal-escrito-botao {
    background-color: #fbfafce5;
    color:crimson;
    font-family: 'Share Tech';
    font-size: 15px;
    
    width: 180px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    
}

.conteudo-principal-escrito-botao:hover {
    background-color: darkred;
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48;
    
}

.conteudo-secundario-titulo {

    
    padding-top: 20px;
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: crimson;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: crimson;
}



.rodape {
    padding: 32px;
    border-top: solid rgb(250, 1, 1);
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;

}

.banner-imagem {
    border-top: solid crimson;
    border-bottom: solid crimson;
}


.titulo-da-pagina {
    border-top: solid crimson
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: crimson;
}